@using Microsoft.AspNetCore.Http;

@{
    Layout = Layout = "~/Views/Shared/_Layout1.cshtml";
}

@{
    ViewData["Title"] = "Step 2";
}

@model CustomerRedeemForm

@section Styles
{
    <link href="~/css/stripe.css" rel="stylesheet" type="text/css" media="all">

    <style>
       
        .inner_sec_info_wthree_agile {
            margin-top: 0em;
        }

        .breadcrumb-1 {
            background: #F4F9FE;
        }

        .token-name {
            background-color: #F4F5F7;
            text-align: center;
            width: 100%;
            padding: 40px;
        }

        .card-payment {
            flex-direction: column;
        }

        .example.example2 * {
            font-family: Source Code Pro, Consolas, Menlo, monospace;
            font-size: 16px;
            font-weight: 500;
        }

        .payment-form ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

        .btn-danger {
            margin-top: 20px;
            background-color: rgba(233,72,89,1);
            text-align: center;
            color: #fff;
            padding: 15px;
        }
    </style>
}

@section ScriptsTop
{
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" src="~/js/stripemain.js" data-rel-js></script>
}

@section Scripts
{
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <script type="text/javascript" src="~/js/stripe.js" data-rel-js></script>
}



<div class="container-fluid breadcrumb-1" style="margin-top: 8.1em">
    <div class="row">
        <p style="padding: 0.5em 0 0 1em"><a href="~/">Home</a> . <a href="~/resellers/home">Resellers Home</a> . Reseller Bulk Purchase</p>
    </div>
</div>



<div class="banner_bottom">
    <div class="container">
        <div class="inner_sec_info_wthree_agile">
            <div class="help_full">
                <div class="col-md-3 col-xs-12 banner_bottom_grid help"></div>

                <div class="col-md-6 col-xs-12 banner_bottom_grid help">
                    
                    <h2 class="text-left">Fun Tokenz Redemption</h2>
                    <p class="my-3 page-mobile-title">Confirm the redemption of the tokenz.</p>
                    <div class="token-name mt-2 mt-md-3">
                        <h3>@Model.Amount</h3>
                        <span>in Fun Tokenz</span>
                    </div>
                    <p class="font-23">Your customer is to be given <b>@Context.Session.GetString("ResellerCurrency") @Context.Session.GetString("RedeemAmount")</b>.<br /><br /><b>Congrats on your buy back!</b>, this withdrawal will earn you <b>@Math.Abs(((Convert.ToDecimal(Context.Session.GetString("RedeemAmount")) - Convert.ToDecimal(Context.Session.GetString("RedeemValue"))) / Convert.ToDecimal(Context.Session.GetString("RedeemValue"))) * 100)%</b> profit.</p>
                    <div class="justify-content-center mb-4 only-mobile">
                        <img src="images/slide_swipe.svg" alt="">
                    </div>
                    <p class="text-left">
                        Upon confirmation @Model.Amount tokens will be deposited in your reseller account.
                    </p>

                    <div class="card-payment">
                        <h3 class="text-left">Pay <b>@Context.Session.GetString("ResellerCurrency") @Context.Session.GetString("RedeemAmount")</b> to your customer and click confirm below. Make sure you click confirm below.</h3>
                        <div class="payment-form">
                            <div class="cell example example2" id="example-2">
                                <form asp-controller="Resellers" asp-action="RedeemProcess" method="post" class="form-horizontal">
                                    <input type="hidden" asp-for="UserId" />
                                    <input type="hidden" asp-for="Amount" value="@Model.Amount" />
                                    <input type="hidden" asp-for="Phone" value="@Model.Phone" />
                                    <input type="hidden" asp-for="Email" value="@Model.Email" />
                                    <input type="hidden" asp-for="FunTokenzCode1" value="@Model.FunTokenzCode1" />
                                    <input type="hidden" asp-for="FunTokenzCode2" value="@Model.FunTokenzCode2" />
                                    <input type="hidden" asp-for="FunTokenzCode3" value="@Model.FunTokenzCode3" />
                                    <input type="hidden" asp-for="FunTokenzCode4" value="@Model.FunTokenzCode4" />
                                    <input type="hidden" asp-for="FunTokenzCode5" value="@Model.FunTokenzCode5" />
                                    <input type="hidden" asp-for="FunTokenzCode6" value="@Model.FunTokenzCode6" />
                                    <input type="hidden" asp-for="FunTokenzCode7" value="@Model.FunTokenzCode7" />
                                    <input type="hidden" asp-for="FunTokenzCode8" value="@Model.FunTokenzCode8" />
                                    <input type="hidden" asp-for="CountryCode" value="@Model.CountryCode" />
                                    @Html.AntiForgeryToken()
                                    <ul>
                                        <li>
                                            <button type="submit" class="btn" data-tid="elements_examples.form.pay_button">Confirm &amp; Complete Redemption</button>
                                            <div class="error" role="alert">
                                                <span class="message"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>

                    <a href="~/resellers/redeem" class="btn btn-block btn-danger">Or Go back</a>

                </div>

                <div class="col-md-3 col-xs-12 banner_bottom_grid help"></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


