@using System.Globalization

@model CustomerListing

<p class="total">@Model.Options.Results.totalResults Results</p>
<table class="w-100" id="results-table" data-size="@Model.Options.Results.pageSize" data-sortfield="@Model.Options.Results.sortField" data-sortorder="@Model.Options.Results.sortOrder" data-searchfield="@Model.Options.Results.searchField" data-searchvalue="@Model.Options.Results.searchValue">
   <thead>
       <tr>
           <th></th>
           <th>Customer Since</th>
           <th>Customer Name</th>
           @*<th>Email Address</th>
            <th>Phone Number</th>*@
       </tr>
   </thead>
    
    @foreach (var customer in Model.Customers)
    {
    <tr>
        <td><p class="expandChildTable" style="padding-left: 7px; padding-bottom: 3px"></p></td>
        <td><p>@DateTime.ParseExact(customer.DatetimeCreated.ToString(), "yyyyMMddHHmmssffff", CultureInfo.InvariantCulture).ToString("dd MMM yyyy")</p></td>
        <td><p>@customer.Firstname @customer.Lastname</p></td>

        @*<td><p>@customer.Email</p></td>
        <td><p>@customer.CountryCode @customer.Mobile</p></td>*@
    </tr>

    <tr class="childTableRow">
        <td colspan="3">
            <h5> Detils</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>Since</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@DateTime.ParseExact(customer.DatetimeCreated.ToString(), "yyyyMMddHHmmssffff", CultureInfo.InvariantCulture).ToString("dd MMM yyyy")</td>
                        <td>@customer.Firstname @customer.Lastname</td>
                    </tr>
                </tbody>

                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@customer.Email</td>
                        <td>@customer.CountryCode @customer.Mobile</td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    }
</table>
<div class="d-flex w-100 mt-3">
    @await Html.PartialAsync("_Pagination", Model.Options.Results)
</div>
